*
{
    margin: 0;
    padding: 0;
    transition: .5s;
    scroll-behavior: smooth;
}

.bg
{
    width: 99vw;
    height: 99vh;
    background-image: url("../Images/bg.jpg");
    background-size: cover;
    background-position: center;
    position: fixed;
    z-index: -1;
}

.home
{
    width: 99vw;
    height: 99vh;
    background-color: rgba(0, 0, 0, 0.342);
}
.logo img
{
    width: 40%;
    margin-left: 5rem;
}
.navbar
{
    background-color: rgba(19, 19, 19, 0.596);
    position: fixed;
   justify-content: space-between;
   width: 100%;
   z-index: 10;
}
.navs
{
    margin-right: 3rem;
}
.navs a{
    text-decoration: none;
    font-size: 20px;
    margin-left: 1rem;
    
}
.sansita-regular {
    font-family: "Sansita", sans-serif;
    font-weight: 600;
    font-style: normal;
  }



main
{
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    transform: translate(0%, 20%);
    align-items: center;
    justify-content: space-evenly;
}


.paragraph
{
    display: flex;
    flex-direction: column;
    width: 35%;
}
span{
    color: orange;
}
h1{
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
p{
    color: white;
    font-size: 22px;
    
}

p span
{
    font-weight: 600;
}

.header1{
    border-right: 3px solid white;
    width: 57%;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 2s steps(17),
              cursor .4s step-end infinite alternate;
}
.header2{
    
    
    animation: header2anime .7s 2.4s forwards;
    opacity: 0;
    transform: translateX(-1rem);
}

@keyframes cursor
{
    50%{
        border-color: transparent;
    }
}
@keyframes typing
{
from {
    
    width: 0;
}
100%{
    border-right: none;
}
}

@keyframes header2anime{
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

/*----------------------- service page-----------------------*/

.Service
{
    width: 99vw;
    background-color: rgba(61, 61, 61, 0.493);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ServiceHeader h2{
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    transform: translate(0,230%);
    
}

.offerContainer
{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
    margin: 6rem 0 3rem 5rem;
    
}

.card
{
    width: 420;
    height: 310;
    background-color: 161616;
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
    margin-top: 2rem;
    border: 2px solid rgba(107, 107, 107, 0.534);
    
}

.card:hover
{
    border: 2px solid orange;
    transform: scale(1.02);
}
i
{
    font-size: 4.4rem;
    margin: 1rem 0 0 1.5rem;
    color: white;
}
.card .cardTitle h3{
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-left: 1.5rem;
    margin-top: 1rem;
}
.card .cardDetail p{
    color: white;
    font-size: 18px;
    width: 85%;
    margin-left: 1.5rem;
}

/*----------------------------- About us page ------------------------*/
.about
{
    width: 99vw;
    height: 99vh;
    background-color: rgba(0, 0, 0, 0.342);
    
}

.about h2{
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    transform: translate(0,230%);
    
}
.about .card{
    text-align: center;
    
}
.card .memberName h5{
    color: white;
}

.card .cardDetail p{
    color: white;
    font-size: 14px;
}
.card .cardDetail i{
    font-size: 14px;
}

.teamContainer
{
    justify-content: center;
    margin-left: -4rem;
}
/*------------------------------ contact page--------------------*/

.contact
{
    width: 99vw;
    height: 100vh;
    background-color: rgba(61, 61, 61, 0.493);
    display: flex;
    flex-direction: column;
    align-items:center;
}

.formContainer{
    margin-top: 6rem;
}

.formContainer h2{
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}

.formContainer .form{
    display: flex;
    flex-direction: column;
    padding: 3rem;
    background-color: 1A1A1A;
    border-radius: 14px;
}

form{
    display: flex;
    flex-direction: column;

}

form input{
    height: 60px;
    border-radius: 7px;
    color: rgba(0, 0, 0, 0.466);
    margin-top: 20px;
}
.msg
{
    height: 135px;
    border-radius: 7px;
    color: rgba(0, 0, 0, 0.466);
    margin-top: 20px;
}

.btn
{
    width: 145px;
    height: 45px;
    background-color: orange;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-top: 20px;
}

.footer{
    width: 99vw;
    background-color: 232323;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer .upperfooter
{
    display: flex;
    padding: 2rem;
    justify-content: space-around;
}
.footer .upperfooter .logo-sakes{
width: 20%;
font-size: 18px;

}
.footer .upperfooter .logo-sakes p{
  
    font-size: 18px;
    margin-top: .7rem;
}
.footer .upperfooter .logo-sakes img{
    width: 32%;
}

.footer .upperfooter .contactUs i
{
    font-size: 2.2rem;
    color: orange;
}

.quicklink
{
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: flex;
    flex-direction: column;
    
    
}
.quicklink a{
    text-decoration: none;
    color: D1CECE;
    margin-top: .7rem;
}

.quicklink h3:hover{
    color: white;

}

.quicklink a h3{
    text-decoration: none;
    color: D1CECE;
    font-size: 18px;
    
}

.contactUs{
    display: flex;
    flex-direction: column;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
}
.contactUs div{
    display: flex;
      
}

.contactUs div p{
    font-size: 15px;
    text-align: center;
    margin-top: 1.7rem;
    margin-left: 1rem;
    font-family: sans-serif;
}



.footer .lowerfooter{
    border-top: 1px solid orange;
    height: 100px;
    width: 80%;
    place-content: center;
    
}

.footer .lowerfooter h5{
    font-size: 14px;
    font-family: sans-serif;
    color: white;
    
}
