*
{
    margin: 0;
    padding: 0;
    transition: .5s;
}
body
{
    width: 100vw;
    height: 100vh; 
}
.bg
{
    width: 100vw;
    height: 100vh;
    background-image: url("/assets/Images/bg.jpg");
    background-size: cover;
    background-position: center;
}